<footer class="footer">
   <div class="container">
      <div class="footer__inner">
         <div class="footer-left">
            <div class="footer__images">
               <img src="img/footer-logo.svg" alt="Логотип Гаранта Безопасности">
               <img class="footer-social" src="img/whats.svg" alt="Обсудить Паспорт безопасности в whatsapp">
               <img class="footer-social" src="img/inst.svg" alt="Обсудить Паспорт безопасности в instagram">
               <img class="footer-social" src="img/telegram.svg" alt="Обсудить Паспорт безопасности в telegram">
            </div>
            <p class="footer__info">
               Аутсорсинговая компания “Гарант Безопасности” предоставляет услуги на территории города Якутска и всей
               республики Саха (Якутия).
            </p>
            <div class="footer-tables">
               <div class="footer-contact">
                  <h4 class="footer-tables__title">Контакты</h4>
                  <ul class="footer-tables__contact footer-contact__list">
                     <li class="footer-contact__item"><a class="footer-contact__link" href="">8 (9142)-722-062</a></li>
                     <li class="footer-contact__item"><a class="footer-contact__link" href="">garantykt@inbox.ru</a>
                     </li>
                  </ul>
               </div>
               <nav class="footer-nav">
                  <h4 class="footer-tables__title">Меню</h4>
                  <ul class="footer-nav__list">
                     <li class="footer-nav__item"><a class="footer-nav__link" href="">Главная</a></li>
                     <li class="footer-nav__item"><a class="footer-nav__link" href="">Паспорт безопасности</a></li>
                     <li class="footer-nav__item"><a class="footer-nav__link" href="">Категорирование ОКИИ</a></li>
                     <li class="footer-nav__item"><a class="footer-nav__link" href="">Видеонаблюдение</a></li>
                     <li class="footer-nav__item"><a class="footer-nav__link" href="">Охранно-пожарные сигнализации</a>
                     </li>
                  </ul>
               </nav>
            </div>
            <p class="footer__copy">Все права защищены © 2021. Гарант Безопасности - разработка антитеррористической
               документации под ключ.</p>
         </div>
         <div class="footer-right">
            <h3 class="footer__title">Будем на связи</h3>
            <form class="footer__form" action="">
               <input class="footer__input" type="text" placeholder="Ваша почта">
               <button class="footer__btn" type="submit">Написать</button>
            </form>
            <p class="footer__hint">*Отправьте почту и мы свяжемся с вами в ближайшее время</p>
         </div>
      </div>
   </div>
</footer>