<header class="header">
   <div class="container">
      <div class="header__inner">
         <img src="img/logotips/logo.svg" alt="Гарант Безопасности логотип">
         <div class="header__content">
            <div class="header__content-contact">
               <a class="number" href="tel:89142722062">
                  8(9142)-722-062
               </a>
               <a class="mail" href="mailto:garantykt@inbox.ru">
                  garantykt@inbox.ru
               </a>
               <button class="contact-button">
                  Обратный Звонок
               </button>
            </div>
            <div class="header__content-nav">
               <nav class="menu">
                  <ul class="menu__list">
                     <li class="menu__item">
                        <a class="menu__link" href="index.html">
                           Главная
                        </a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="security-passport.html">
                           Паспорт<br> безопасности
                        </a>
                     </li>
                     <li class="menu__item">
                        <a class="menu__link" href="cyber.html">
                           Категорирование<br> ОКИИ
                        </a>
                     </li>
                     <li class="menu__item menu__dropdown dropdown">
                        <a class="menu__link" href="">
                           Охранные<br> системы
                        </a>
                        <div class="dropdown__container">
                           <ul class="dropdown__list">
                              <li class="dropdown__item"><a href="video.html" class="dropdown__link">Видеонаблюдение</a>
                              </li>
                              <li class="dropdown__item"><a href="signal.html" class="dropdown__link">Охранно-пожарные
                                    <span>сигнализации</spa></a></li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</header>