<section class="serv-pack">
   <div class="container">
      <div class="serv-pack__inner">
         <h2 class="sec-title serv-pack__title">
            Пакет услуг
         </h2>
         <ul class="serv-pack__list">
            <li>Разработка Паспорта Безопасности (Паспорта антитеррористической защищенности) согласно всем нормативным
               актам;
            </li>
            <li>Помощь в формировании собственной внутренней документации;
            </li>
            <li>Обследование и категорирование объекта с привлечением заинтересованных государственных структур;
            </li>
            <li>Коммуникация и взаимодействие с государственными органами при необходимости и для решения возникающих
               вопросов;
            </li>
            <li>Подробное информирование Заказчика на всех этапах разработки Паспорта Безопасности.
            </li>
         </ul>
         <p class="serv-pack__text text"> При необходимости указанный перечень может дополняться или видоизменяться, что
            будет оговариваться отдельно. Для сотрудничества оставьте вашу почту или закажите обратный звонок. Наши
            специалисты свяжутся с вами в ближайшее время для обсуждения деталей. Также вы можете связаться с нами
            самостоятельно по контактам, указанным в верхней и нижней частях сайта.


         </p>
      </div>
   </div>
</section>