html,
body {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	font-family: Ubuntu;
	font-size: 20px;
	line-height: 150%;
	font-weight: 300;
}
a {
	color: black;
}
section {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-headscreen {
	min-height: 790px;
}
.head__title {
	font-size: 30px;
	font-family: "Cormorant Garamond";
	text-align: center;
	font-weight: 400;
}

.sec-title {
	margin: 0 auto;
	font-family: "Cormorant Garamond";
	font-size: 32px;
	position: relative;
	border: 2px solid #7184c9;
	line-height: 57px;
	text-align: center;
	margin-bottom: 64px;
}

.text {
	text-align: justify;
	text-indent: 30px;
}
.pass-head-global {
	background: 50% no-repeat;
	min-height: 790px;
}
.pass-inner-global {
	padding-top: 100px;
}
.pass-title-global {
	font-size: 30px;
	font-family: "Cormorant Garamond";
	text-align: center;
	font-weight: 400;
	margin: 0 auto;
	max-width: 450px;
}
